<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">


<web-app>

    <!-- Servlets -->
    <servlet>
        <servlet-name>ConvertAllToOWL</servlet-name>
        <servlet-class>org.ontologyengineering.conceptdiagrams.web.server.handler.ConvertAllToOWLServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestSerialization</servlet-name>
        <servlet-class>org.ontologyengineering.conceptdiagrams.web.server.handler.TestSerializationImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConvertAllToOWL</servlet-name>
        <url-pattern>/conceptDiagrams/ConvertAllToOWL</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestSerialization</servlet-name>
        <url-pattern>/conceptDiagrams/TestSerialization</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ontologyDownloadService</servlet-name>
        <servlet-class>org.ontologyengineering.conceptdiagrams.web.server.handler.servlet.DownloadOWLServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ontologyDownloadService</servlet-name>
        <url-pattern>/conceptDiagrams/ontologyDownloadService</url-pattern>
    </servlet-mapping>




    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>ConceptDiagrams.html</welcome-file>
    </welcome-file-list>


</web-app>
